body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
#qrcode {
    margin-top: 20px;
}