---
import Layout from "../layouts/Layout.astro";
import SessionsList from "../components/SessionsList.astro";
import SessionQrOverlay from "../components/SessionQrOverlay.astro";
---
<Layout>
    <main class="main-content">
        <h1>HoloSpace-XR Sessions</h1>
        <SessionsList />
    </main>
    <SessionQrOverlay />
</Layout>

