---
import Layout from "../layouts/Layout.astro";
import SessionsList from "../components/SessionsList.astro";
import SessionQrOverlay from "../components/SessionQrOverlay.astro";
---
<Layout>
    <a href="/hsxr/filemanager" class="filemanager-icon" aria-label="File Manager" title="File Manager">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
            <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"/>
        </svg>
    </a>
    <main class="main-content">
        <h1>HoloSpace-XR Sessions</h1>
        <SessionsList />
    </main>
    <SessionQrOverlay />
</Layout>

