---
import "../styles/global.css";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/hsxr/favicon.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="A QR Code for joining a HoloSpace-XR Lobby."/>
    <meta name="generator" content={Astro.generator}/>
    <title>HoloSpace-XR</title>
</head>
<body>
    <div id="zoom-wrapper">
        <slot />
    </div>
    <script src="../scripts/zoomCompensation.ts"></script>
</body>
</html>
